@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  background-color: #e3e1e1;

}

.header_color{
  background-color: rgb(48, 46, 46);
}


.leaflet-container {

  width: 66vw;
  height: 60vh;

}