@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  background-color: #434242;

}

.header_color{
  background-color: #222222;
  color: #F3EFE0;
}


.leaflet-container {
  
  width: 100%;
  height: 100%;
  
}

.form-style{

  background-color: #222222;
  
}

.title-form{
  font-size: 3rem;
}

.input-form {
  width: 90%;
  margin-left: 5%;
  color:#222222;
}
.form-style{

  border-color: #F3EFE0;
  border: solid;
  
}
.button-section{
  margin: 10%
 
}

.button-form:hover{
 background-color: #22A39F;
 color: #F3EFE0;

}

